@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
  }

.vid_player {
    display: block;
    margin: auto;
}

.div {
    display: inline-block;
    margin-left: 530px;
}